{% extends "Shop/base.html" %}

{% load static %}

{% block title %} Товары GlebShop {% endblock %}

{% block content %}
    {% for snicker in snickers %}
    <div class="card" style="width: 18rem;">
        <img src="{{ snicker.img.url }}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{ snicker.name }}</h5>
        <p class="card-text">{{ snicker.description }}</p>
        
        <div class="raits d-flex">
            {% for star in 'пятьь' %}
            <img src="{% static './Shop/img/star.png' %}" alt=""
            {% if forloop.counter > snicker.raits %}
            style="filter: grayscale(1);"
            {% endif %}
            >
            {% endfor %}
        </div>
        <span>Цена: {{ snicker.cost }}₽</span>
        <a href="{% url 'detailSnicker' product_id=snicker.id %}" class="btn btn-primary">Купить</a>
    </div>
    {% endfor %}
{% endblock %}